{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

{% for produit in produits %}
<div class="row">
{# <td><img src="{{ asset('images/' ~ produit.image) }}" alt="" style="width:50px"></td> #}
   <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ asset('images/' ~ produit.image) }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ produit.name }}</h5>
    <p class="card-text">{{ produit.description }}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

</div>

{% endfor %} 
{% endblock %}
